body {
  padding: 0px 40px;
  background: #6541AA;
}

.App {
  text-align: left;
  background: #673ab7;
  color: white;
  font-family: sans-serif, serif, Georgia, "New Cambria", "Times New Roman",
    Times;
}

.Header {
  background: #2B0639;
}

.Content {
  background: #AE98D8;
  width: 100%;
  }

.Sidebar {
  background: #AE98D8;
}

.Footer {
  background: #2B0639;
}

.Logo {
  text-align: left;
}

.SiteName {
}

.success {
  background: blanchedalmond;
  color: green;
  font-style: normal;
}

.error {
  background: honeydew;
  color: red;
  font-style: normal;
}
